#col-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.textbox{
  height:90px;
}
gradio-app{
background: rgb(135,18,177);
background: radial-gradient(circle, rgba(135,18,177,1) 0%, rgba(2,48,130,1) 93%)!important;
}
